.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    width: 100%;
    height: 70px;
}

.numero-mes{
    font-size: 46px;
    margin: 0;
    font-weight: bold;
    display: flex;
}

.info-izq {
    display: flex;
    align-items: center;
}

.anio{
    margin: 0;
}
.nombre-mes{
    margin: 0;
}

.nombre-dia{
    margin: 0;
    font-size: 14px;
}

.hora{
    margin: 0;
}
