.boton-nocturno{
    position: absolute;
    z-index: 5000;
    top: 38px;
    border-radius: 50%;
    padding: 10px 10px;
    border-color: brown;
    background-color: #ffffff;
    cursor: pointer;
}

.boton-nocturno.modo-nocturno {
    background-color: rgba(53, 53, 53, 0.555)
}

@media (width <= 912px) {
    .boton-nocturno{
        top: 18px;
    }
}