.text-tarea{
  color: #8C8C8C;
  font-size: 24px;
  width: 70%;
  overflow: auto;
}
.checkbox {
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  color: #FF1F5B;
  padding: 2.1px 6px;
}
  
.checkbox.checked {
  background-color: #FF1F5B;
  border-color: #FF1F5B;
  color: #fff;
}

.tarea-check{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.eliminar{
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}


